@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

:root {
    --gradient: linear-gradient(45deg, #3866F2, #0597F2, #05C7F2);
}

html {
    overflow-y: scroll;
}

body {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}
p{
  color:white;
  font-family: Jost;
}


h1 {
  color:white;
  font-family: Jost;
  text-align: center;
}
.box {
  width: auto;
  height: auto;
  margin: 0 auto;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: rgb(173, 173, 173);
  padding: 20px;
  transition: 0.4s ease;
  border-radius: 6px;
  margin-bottom: 20px;
}

.h3-contact{
  color:white;
  font-family: Jost;
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color:white;
  font-family: Jost;
  text-align: center;
}

footer {
    color:white;
    font-family: Jost;
    text-align: center;
    margin-top: 50px;
}

h1.header{
    color:white;
    font-family: Jost;
    text-align: center;
    margin-bottom: 0px;
}
p.header{
    color:white;
    font-family: Jost;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}
.nav-container {
    display: flex;
    justify-content: center;
    border: 2px solid rgb(173, 173, 173);
    padding: 10px;
    margin-right: 10px;
}
.nav-container:hover {
    border: 2px solid transparent;
    border-image: var(--gradient) 1;
}
.nav-a{
    color:white;
    font-family: Jost;
    text-decoration: none;
}
.nav-a:hover,
.nav-a:visited,
.nav-a:active,
.nav-a:focus {
    color:white;
    font-family: Jost;
    text-decoration: none;
}



.education-box {
  width: 28%;
  margin: 0 auto;
  font-family: Jost;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin-bottom: 20px;
  border-radius: 6px;
}
h3.education{
    margin: 0;
    margin-bottom: 0em;
    margin-top: 5px;
    color:white;
    font-family: Jost;
    text-align: center;
}
.text-education{
    margin: 0;
    margin-bottom: 0em;
    margin-top: 5px;
    color:rgb(173, 173, 173);
    font-family: Jost;
    text-align: center;
}
.ul-education{
    margin-bottom: 2em;
}
.ul-li-education{
    list-style: none;
    margin: 0em .5em;
    color: white;
}

hr.gradient-break {
    margin: 0;
    padding: 0;
    border: none;
    height: 10px;
    background-image: var(--gradient);
}



.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 100vh;
  padding: 0px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: var(--gradient);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: var(--gradient);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

ul.project{
  color:white;
  font-family: Jost;
  text-align: left;
  margin: 5px;
  padding: 2px;
}

h2.projects{
  color:white;
  font-family: Jost;
  text-align: center;
  margin: 0px;
  margin-top: 10px;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-top: 10px;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

body .container .card .box:hover {
  transform: translateY(-50px);
  background: var(--gradient);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}


body .container .card .box .content h3 {
  font-size: 1.8rem;
  font-family: Jost;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

body .container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #5873A3;
  border-radius: 5px;
  font-family: Jost;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
body .container .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.project-h2{
  color: white;
  font-family: Jost;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.description-text{
  font-family: Jost;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.description-h2{
  color: white;
  font-family: Jost;
  text-align: center;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  margin-top: 10px;
}
.github-box {
  width: auto;
  height: auto;
  margin: 0 auto;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: rgb(173, 173, 173);
  padding: 10px;
  transition: 0.4s ease;
  border-radius: 6px;
  margin-bottom: 20px;
}
.github-box:hover {
  transform: translateY(-50px);
  background: var(--gradient);
}
.description-box {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: rgb(173, 173, 173);
  padding: 20px;
  transition: 0.4s ease;
  border-radius: 6px;
  margin-bottom: 20px;
}

.youtube-box{
  width: auto;
  height: auto;
  margin: 20px auto;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: white;
  transition: 0.4s ease;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.youtube-video{
  padding: 5px;
  margin: 0px;
  display: inline-block;
}
.youtube-box:hover {
  transform: translateY(-50px);
  background: var(--gradient);
}
.image-box{
  width: auto;
  height: auto;
  align-items: center;
  margin: auto;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: white;
  padding: 5px;
  transition: 0.4s ease;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdf-box {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  color: rgb(173, 173, 173);
  padding: 20px;
  transition: 0.4s ease;
  border-radius: 6px;
  margin-bottom: 20px;
}




.scroll-container {
  display: block;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 10px;
  padding: 15px;
}

.post {
  display: none; /* Hide all posts initially */
  width: 700px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2a2b2f;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  font-family: Jost;
}

.post:target {
  display: block; /* Display the targeted post */
}

.post-title {
  margin-top: 0;
}

.post-author, .post-page-count {
  color: #c6cee2;
  font-style: italic;
  margin: 0px;
}

.post-body {
  color: white;
}

.post-image {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.nav-blog {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-a{
  color:white;
  font-family: Jost;
  text-decoration: none;
  margin: 10px;
}
.contact-a:hover,
.contact-a:visited,
.contact-a:active,
.contact-a:focus {
  color:white;
  font-family: Jost;
  text-decoration: none;
}
